################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MestreDosCodigos/v16/Server/sqlite3
/Commom/obj/Debug/netcoreapp3.0/Commom.csprojAssemblyReference.cache
/.vs/MestreDosCodigos/DesignTimeBuild/.dtbcache
/.vs/MestreDosCodigos/v16/.suo
/POO_Ex_2/bin/Release/netcoreapp3.0
